{% macro get_button(text='<>Button<>', url='', target_id='', swap_method='innerHTML', button_id="") -%}
  
  <button
    class="btn btn-primary"
    id="{{button_id}}"
    hx-get="{{url}}"
    hx-target="#{{target_id}}"
    hx-swap="{{swap_method}}">
    {{text| e}}

  </button>

{%- endmacro %}

{% macro post_button(text='<>Button<>', url='', target_id='', swap_method='innerHTML', button_id="") -%}
  
  <button
    class="btn btn-primary"
    id="{{button_id}}"
    hx-post="{{url}}"
    hx-target="#{{target_id}}"
    hx-swap="{{swap_method}}">
    {{text| e}}

  </button>

{%- endmacro %}
