{% macro calendar_as_input(date_fmt="yyyy-mm-dd", input_class="form-control datepicker", multidate=False) -%}
  
  <input
    class="{{input_class}}"
    type="text"
    data-provide="datepicker"
    data-date-format="{{date_fmt}}">

  <script type="text/javascript">
    $('.datepicker').datepicker({
      format: {{date_fmt|tojson}},
      weekStart: 1,
      clearBtn: true,
      todayBtn: "linked",
      language: "fr",
      daysOfWeekDisabled: "0,6",
      daysOfWeekHighlighted: "5",
      calendarWeeks: true,
      todayHighlight: true,
      multidate: {{ multidate|tojson}}
  });
  </script>

{%- endmacro %}


{% macro calendar_as_group_input(
  date_fmt="yyyy-mm-dd", icon_class="bi bi-calendar-check",
  multidate=False, div_id="", input_id="") -%}

  <div class="input-group" id="{{div_id}}">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <!-- icon class -->
        <i class="{{ icon_class }}"></i>
      </span>
    </div>

    <input
      class="form-control datepicker"
      id="{{input_id}}"
      type="text"
      data-provide="datepicker"
    >
  </div>

  <script type="text/javascript">
    $('.datepicker').datepicker({
      format: {{date_fmt|tojson}},
      weekStart: 1,
      clearBtn: true,
      todayBtn: "linked",
      language: "fr",
      daysOfWeekDisabled: "0,6",
      daysOfWeekHighlighted: "5",
      calendarWeeks: true,
      todayHighlight: true,
      multidate: {{ multidate|tojson}}
  });
  </script>

{%- endmacro %}
