{% macro simple_select(data, opt_attr, label_attr, placeholder="", select_id="select-id") -%}
  <select
   id="{{ select_id }}"
   data-placeholder="{{ placeholder }}"
   class="custom-select"
  >
    {% for el in data %}
      <option value="{{ el[opt_attr] }}">{{ el[label_attr] }}</option>
    {% endfor %}
  </select>
{%- endmacro %}

{% macro multiple_select(data, opt_attr, label_attr, placeholder="", select_id="select-id") -%}
  <select
   id="{{ select_id }}"
   data-placeholder="{{ placeholder }}"
   data-allow-clear="true"
   multiple="true"
   data-close-on-select="false"
   class="custom-select"
  >
    {% for el in data %}
      <option value="{{ el[opt_attr] }}">{{ el[label_attr] }}</option>
    {% endfor %}
  </select>
{%- endmacro %}
