{% macro records_to_table(records, table_cls="table  table-hover table-dark") -%}

  <table class="{{table_cls}}">
    {% if records %}
      <!-- Records Headers set a variable from the first item -->
      <!-- # To-Do: we can use loop.first -->
      <thead>
        {% set headers = records[0].keys() %}
        {% for h in headers %}
          <th>{{ humanize_field(h) }}</th>
        {% endfor %}
      </thead>
      
      <tbody>
        {% for d in records %}
          <tr>
          {% for v in d.values() %}
            <td>{{ stringify_maroc(v) }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}

  </table>
{%- endmacro %}

{% macro perf_records_to_table(records, table_cls="table table-hover table-dark") -%}

  <table class="{{ table_cls }}">
    {% if records %}
      <!-- Records Headers set a variable from the first item -->
      <!-- # To-Do: we can use loop.first -->
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <input _="on input show <tbody>tr/> in closest <table/>
                 when its textContent.toLowerCase() contains my value.toLowerCase()"
            />
          </th>
        </tr>
      </thead>
      
      <thead>
        {% set headers = records[0].keys() %}
        {% for h in headers %}
          <th>{{ humanize_field(h) }}</th>
        {% endfor %}
      </thead>

      <tbody>
        {% for row in records %}
          <tr>
          {% for (k, v) in row.items() %}
            {% if 'perf' in k and v > 0 %}
              <td class="bg-success">{{ stringify_maroc(v) }}</td>
            {% elif 'perf' in k and v < 0 %}
              <td class="bg-danger">{{ stringify_maroc(v) }}</td>
            {% else %}
              <td>{{ stringify_maroc(v) }}</td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}

  </table>
{%- endmacro %}
