{% extends "master.html.jinja2" %}

{% block title %} {{ super() }} {% endblock %}

{% block css %}{{ super() }}{% endblock %}

{% block content %}
  {% import 'macros/buttons.jinja2' as makro_buttons %}
  {% import 'macros/calendars.jinja2' as makro_calendars %}
  {% import 'macros/select_utils.jinja2' as makro_select_utils %}

  <!-- Select Elems -->
  <p><h1> ------ Begin Simple Form ------- </h1></p>

  <div class="row">
    <div class="col-8 offset-1">
      <form>
      
      <!-- Select de Comparer -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Comparer
            </span>
          </div>
          {{ makro_select_utils.simple_select(
            select_options, 'code', 'description',
            select_id="select-compare",
            placeholder="Sélectionner `A comparer`")
          }}
        </div>
        {# <small id="select-fonds" class="form-text text-muted">
          Au moins un Fonds doit être choisi
        </small> #}
      </div>

      <!-- Select de "Avec" -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Avec
            </span>
          </div>
          {{ makro_select_utils.simple_select(
            select_options, 'code', 'description',
            select_id="select-avec",
            placeholder="Sélectionner `comparer avec`")
          }}
        </div>
      </div>

      <!-- Date Select -->
      <div class="form-group row">
        <label for="date-marche">Date Marché <strong class="text-secondary">(Obligatoire)</strong> </label>
        {{ makro_calendars.calendar_as_group_input(icon_class="bi bi-calendar-event", input_id="date-marche") }}
        {# <small id="date-marche" class="form-text text-muted">
          <strong>Obligatoire</strong>
        </small> #}
      </div>

      <!-- Select de "Périodes" -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Périodes
            </span>
          </div>
          {{ makro_select_utils.multiple_select(
            select_periodes, 'option', 'label',
            select_id="periodes-compare",
            placeholder="Sélectionner une ou plusieurs périodes")
          }}
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          <input type="text" name="test-input", class="form-control">
        </div>    
      </div>
      
      </form>
    </div>
  </div>

  <p><h3> ------ End Simple Form ------- </h3></p>
  <!-- One Button -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary"
        id="bu-launch"
        _="on click
          set compare to $('#select-compare').select2('data')[0].id
          set avec to $('#select-avec').select2('data')[0].id
          set arr_periodes to $('#periodes-compare').select2('data')
          set arr_dates to $('#date-marche').datepicker('getDates')
          set date_marche to arr_dates[0].toISOString().split('T')[0]
          set periodes to arr_periodes.map( \ el -> el.id).join()
          
          fetch `/api/performance/panel/comparer/${compare}/${avec}?date_marche=${date_marche}&periodes=${periodes}`
          then put the result into innerHTML of next <div/>
          "
        >
        ... Launch ...
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-2" id='macro-target'>This DIV For Macro Button</div>
  </div>
  <div class="row">
    <div _="on click put ' DivClick! ' after me">
      Alert Call 
    </div>
  </div>
{% endblock %}

{% block javascript %} {{ super() }} {% endblock %}
{% block init_javascript %} {{ super() }} {% endblock %}
{% block footer %} {{ super() }} {% endblock %}
