<!doctype html>
<html lang="en,fr">
<head>
  {% block title %}
    <title>Datashop Web Page</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Datashop Web - 2023-05-1" />
  {% block css %}
    <!-- Bootstrap 5 deps -->
    <link rel="stylesheet" href="{{ url_for_static_asset('src-bootstrap', 'assets/bootstrap.min.css') }}" >
    <!-- Bootstrap 1.10.4 icons -->
    <link rel="stylesheet" href="{{ url_for_static_asset('src-bootstrap', 'icons/bootstrap-icons.min.css') }}" >
    <!-- Date Picker Bootstrap 5 deps -->
    <link rel="stylesheet" href="{{ url_for_static_asset('src-date-picker', 'vanillajs-bs5.css') }}" >
    <!-- Select2 deps -->
    <link  rel="stylesheet" href="{{ url_for_static_asset('src-select2', 'select2.min.css') }}" />
    <!-- Select2 Bootstrap 4 deps -->
    <link rel="stylesheet" href="{{ url_for_static_asset('src-select2', 'select2-bootstrap-5-theme.min.css') }}" >
    <!-- Dpendances doivent être dans le header pour les scripts générés côté Serveur -->
    <script src="{{ url_for_static_asset('src-bootstrap', 'assets/jquery.slim.min.js') }}" ></script>
    <script src="{{ url_for_static_asset('src-bootstrap', 'assets/bootstrap.bundle.min.js') }}" ></script>
    <script src="{{ url_for_static_asset('src-date-picker', 'vanillajs.js') }}" charset="UTF-8"> </script>
    <script src="{{ url_for_static_asset('src-date-picker', 'vanillajs.fr.js') }}" charset="UTF-8"> </script>
  {% endblock %}
</head>

<body>
  <div class="container container-fluid">

  {% block content %}
  {% import 'macros/buttons.jinja2' as makro_buttons %}
  {% import 'macros/calendars.jinja2' as makro_calendars %}
  {% import 'macros/table_utils.jinja2' as makro_table_utils %}
  {% import 'macros/select_utils.jinja2' as makro_select_utils %}

  <div class="container"><h1>{{ say }}</h1> </div>

  <div class="row">
    <!-- CALENDARS -->
    <div class="col-sm-6">
      {{ makro_calendars.calendar_as_group_input(icon_class="bi bi-calendar-event") }}
    </div>
    <div class="col-sm-6">
      <!-- Calendar is a  group-input-->
      {{ makro_calendars.calendar_as_group_input(multidate=True, icon_class="bi bi-calendar3") }}
    </div>
  </div>

  <!-- Select Elems -->
  <p><h1> ------ Begin Simple Form ------- </h1></p>

  <div class="row">
    <div class="col-8 offset-1">
      <form>
      
      <!-- Select de Comparer -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Comparer
            </span>
          </div>

          <select class="custom-select" id="select-compare">
            {% for el in select_options %}
              <option value="{{ el.performance_instance.code }}">{{ el.description }}</option>
            {% endfor %}
          </select>
        </div>
        {# <small id="select-fonds" class="form-text text-muted">
          Au moins un Fonds doit être choisi
        </small> #}
      </div>

      <!-- Select de "Avec" -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Avec
            </span>
          </div>

          <select class="custom-select" id="select-avec">
            {% for el in select_options %}
              <option value="{{ el.performance_instance.code }}">{{ el.description }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <!-- Date Select -->
      <div class="form-group row">
        <label for="date-marche">Date Marché</label>
        {{ makro_calendars.calendar_as_group_input(icon_class="bi bi-calendar-event", input_id="date-marche") }}
        {# <small id="date-marche" class="form-text text-muted">
          <strong>Plusieurs dates</strong> peuvent être saisies
        </small> #}
      </div>

      <!-- Select de "Périodes" -->
      <div class="form-group row">
        {# <label for="select-fonds">Choisir un Fonds</label> #}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              Périodes
            </span>
          </div>
          {{ makro_select_utils.multiple_select(
            select_periodes, 'option', 'label',
            select_id="periodes-compare",
            placeholder="Sélectionner une ou plusieurs périodes") }}
        </div>
      </div>

      <div class="form-group row">
        <div class="col">
          {{ makro_buttons.get_button(
            button_id="bu-launch",
            text='Launch',
            target_id='macro-target',
            swap_method='innerHTML',
            url='/api/referentiel')
          }}
        </div>    
      </div>
      
      </form>
    </div>
  </div>

  <p><h3> ------ End Simple Form ------- </h3></p>
  <!-- Buttons -->
  <div class="row">
    <div class="col">
      <button
        class="btn btn-primary"
        id="bu-launch"
        {# _="on click fetch /api/referentiel put it into innerHTML of #macro-target" #}
        {# _="on click put 'ARGSSDZDS' before the closest <div/>" $('#periodes-compare').select2('data') #}
        _="on click
          set arr_compare to $('#select-compare').select2('data')
          set arr_avec to $('#select-avec').select2('data')
          set arr_periodes to $('#periodes-compare').select2('data')
          set arr_dates to $('#date-marche').datepicker('getDates')
          set compare to arr_compare[0].id
          set avec to arr_avec[0].id
          set date_marche to arr_dates[0].toISOString().split('T')[0]
          set periodes to Array()

          for x in arr_periodes
            periodes.push(x.id)
          end
          set qp to periodes.join()
          
          if periodes.length
            fetch `/api/performance/panel/comparer/${compare}/${avec}?date_marche=${date_marche}&periodes=${qp}`
            then put the result into innerHTML of next <div/>
          else
            fetch `/api/performance/panel/comparer/${compare}/${avec}?date_marche=${date_marche}`
            then put the result into innerHTML of next <div/>
          "
        >
        ... Launch ...
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" id='macro-target'>This DIV For Macro Button</div>
    <div class="col-md-6" id='macro-target2'>This DIV For Macro Compteur State</div>
  </div>

  <div class='table-responsive-md'>
    {{ makro_table_utils.perf_records_to_table(records) }}
  </div>

  {% endblock %}
  </div>
</body>

{% block javascript %}
  <!-- htmx 1.9 Deps -->
  <script src="{{ url_for_static_asset('src-htmx', 'htmx.min.js') }}"></script>
  <script src="{{ url_for_static_asset('src-htmx', 'class-tools.js') }}"></script>
  <script src="{{ url_for_static_asset('src-htmx', 'hyperscript.min.js') }}"></script>
  <!-- Select2 deps -->
  <script src="{{ url_for_static_asset('src-select2', 'select2.min.js') }}"></script>
{% endblock %}

{% block init_javascript %}
  <script type="text/javascript">
    $('select').select2({
      theme: 'bootstrap-5',
    });
  </script>
{% endblock %}

{% block footer %} {% endblock %}
</html>
